<% if resource.errors.any? %>
  <div id = "error_explanation" class = "text-center text-danger">
    <p>
      <% resource.errors.full_messages.each do |message| %>
        <%= message %><br />
      <% end %>
    </p>
  </div>
<% end %>
