<div class = "container-fluid">
  <div class = "row">
    <div class = "page-title">
      <h2 class = "text-center mt-5"><%= @user.name %>さんのフォロワー一覧</h2>
      <p class = "text-center mt-3"><%= @user.name %>さんをフォローしているユーザー一覧です!!</p>
    </div>
    <div class = "user-main-image">
      <div class = "main-image-mask w-100"></div>
    </div>
  </div>
  <div class = "mx-5 pt-3">
    <h5 class = "mx-5">全<%= @user.followers.count %>人</h5>
    <div class = "users-field">
      <%= render 'relationships/follow_user', users: @users %>
    </div>
  </div>
</div>