<div class = "container">
  <div class = "row d-flex justify-content-center">
    <div class = "col-3 content-title">
      <h3 class = "text-center">使い方</h3>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
    <div class = "row content-bg">
      <div class = "col-5 about-image1"></div>
      <div class = "col-7 about-text">
        <h4>新規投稿する</h4>
        <p>
          新規投稿をクリックすると<br />
          あなたが共有したいことを投稿することができます。<br />
          新規投稿では、タグをつけることもできます。
        </p>
      </div>
    </div>
    <div class = "row content-bg">
      <div class = "col-5 about-image2"></div>
      <div class = "col-7 about-text">
        <h4>投稿を探す</h4>
        <p>
          投稿一覧画面の右上にある検索欄から検索したり<br />
          タグ一覧から絞り込むことも可能です。
        </p>
      </div>
    </div>
    <div class = "row content-bg">
      <div class = "col-5 about-image3"></div>
      <div class = "col-7 about-text">
        <h4>気に入った投稿にリアクションする</h4>
        <p>
          投稿にはいいねをつけたり、コメントすることが可能です。<br />
          積極的にいいねやコメントをしていきましょう!!
        </p>
      </div>
    </div>
    <div class = "row content-bg">
      <div class = "col-5 about-image4"></div>
      <div class = "col-7 about-text">
        <h4>他のユーザーと交流する</h4>
        <p>
          他のユーザーをフォローすることが可能です。<br />
          フォローしているユーザーはマイページから確認することができます。<br />
          チャットをクリックすることで、他のユーザーとチャットをすることも可能です。
        </p>
      </div>
    </div>
  </div>
  </div>
</div>