<div class = "container-fluid">
  <div class = "row px-5 mt-3 pt-3 top-image">
    <div class = "top-image-text">
      <h5 class = "text-center mt-5 text-bg-green">
        <strong>Enjoy HOME</strong>では<br />
        自宅でできる楽しいことやリフレッシュできることを<br />
        共有することができます
      </h5>
      <h5 class = "text-center mt-5 text-bg-green">
        さぁ<br />
        今日も家時間を有意義なものにしましょう
      </h5>
      <h6 class = "text-center mt-5">
        まずは新規登録またはログインから
      </h6>
      <div class = "d-flex justify-content-center mt-1">
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-success mx-3" %>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-info mx-3" %>
      </div>
      <h6 class = "text-center mt-4">
        簡単ログインはこちらから
      </h6>
      <div class = "d-flex justify-content-center mt-1">
        <%= link_to "簡単ログイン", users_guest_sign_in_path, method: :post, class: "btn btn-outline-primary mx-auto" %>
      </div>
    </div>
  </div>
  <div class = "row mx-5 mt-5 top-bottom-content">
    <div class = "col-4 top-bottom-image1"></div>
    <div class = "col-6 pt-4 mx-auto">
      <h4 class = "text-bg-green">〜家で楽しめることが見つかる〜</h4>
      <p class = "mt-5">
        検索やタグ、ランキング等、様々な手段で投稿を探すことができます。<br />
        家にいるけどすることがなくて退屈...<br />
        そんな時に、ぜひEnjoy HOMEを活用して<br />
        家で楽しめることを探してみてください。</p>
    </div>
  </div>
  <div class = "row mx-5 mt-3 top-bottom-content">
    <div class = "col-6 pt-4 mx-auto">
      <h4 class = "text-bg-green">〜他のユーザーと楽しみを共有する〜</h4>
      <p class = "mt-5">
        コメント機能やチャット機能等、他のユーザーとの交流機能も用意してあります。<br />
        気に入った投稿や趣味の合うユーザーを見つけたら<br />
        積極的に交流を図ってみましょう。<br />
        交流することにより、新たな楽しみが得られるかもしれません。
      </p>
    </div>
    <div class = "col-4 top-bottom-image2"></div>
  </div>
</div>