<div class = "container-fluid">
  <div class = "row px-5 mt-3">
    <div class = "col-7 top-image">
    </div>
    <div class = "col-5">
      <h5 class = "text-center mt-5 text-bg-green">
        <strong>Enjoy HOME</strong>では<br />
        自宅でできる楽しいことやリフレッシュできることを<br />
        共有することができます
      </h5>
      <h5 class = "text-center mt-5 text-bg-green">
        さぁ<br />
        今日も家時間を有意義なものにしましょう
      </h5>
      <h6 class = "text-center mt-5">
        まずは新規登録またはログインから
      </h6>
      <div class = "d-flex justify-content-center mt-1">
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-success mx-3" %>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-info mx-3" %>
      </div>
      <h6 class = "text-center mt-4">
        簡単ログインはこちらから
      </h6>
      <div class = "d-flex justify-content-center mt-1">
        <%= link_to "簡単ログイン", users_guest_sign_in_path, method: :post, class: "btn btn-outline-primary mx-auto" %>
      </div>
    </div>
  </div>
  <div class = "row mx-5 mt-3">
    <div class = "col-4 top-bottom-image"></div>
    <div class = "col-8">A</div>
  </div>
  <div class = "row mx-5 mt-3">
    <div class = "col-4 top-bottom-image"></div>
    <div class = "col-8">A</div>
  </div>
</div>