<div class = "container-fluid">
  <div class = "row">
    <div class = "mx-auto room-title pt-2 px-3">
      <h3 class = "text-center"><%= @opponent_user.name %>さんとのチャット</h3>
    </div>
  </div>
  <div class = "row mx-5 chat-field mt-5">
    <div id = "chats" data-room_id = "<%= @room.id %>" class ="w-100">
      <%= render @chats %>
    </div>
  </div>
  <div class = "row">
    <form class = "w-100 d-flex justify-content-center chat-form">
      <input type = "text" id = "chat-input" data-behavior = "room_speaker">
    </form>
  </div>
</div>