/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
	opacity: 0;
}

main {
  box-shadow: 1px 0px 40px #5BFF7F inset;
  margin-top: 70px;
  min-height: 650px;
}

.notification-icon {
  position: fixed;
  top: 85px;
  right: 10px;
  border: 4px solid #AEFFBD;
  border-radius: 50px;
  z-index: 1;
  background-color: white;
}

.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
  height: 10px;
}

.field_with_errors {
  display: contents;
}

header {
  height: 70px;
  border-top: solid 5px #AEFFBD;
  border-bottom: solid 5px #FFFFAA;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  z-index: 2;
}

.text-bg-green {
  text-shadow: 1px 0 20px #43FF6B;
}

.text-bg-yellow {
  background-color: #FFFFAA;
  border-radius: 15px;
}

#hm-icon {
  width: 40px;
  height: 30px;
  z-index: 10;
}

.menu-trigger {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 30px;
}

.menu-trigger span {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  transition: all 1s;
}

.menu-trigger span:nth-child(1) {
  top: 0;
}

.menu-trigger span:nth-child(2) {
  top: 15px;
}

.menu-trigger span:nth-child(3) {
  top: 30px;
}

.menu-trigger span.active:nth-child(1) {
  -webkit-transform: translateY(15px) rotate(-45deg);
  transform: translateY(15px) rotate(-45deg);
  background-color: #000000;
}
.menu-trigger span.active:nth-child(2) {
  opacity: 0;
}
.menu-trigger span.active:nth-child(3) {
  -webkit-transform: translateY(-15px) rotate(45deg);
  transform: translateY(-15px) rotate(45deg);
  background-color: #000000;
}

.search-icon {
  width: 40px;
  height: 30px;
}

.search {
  display: none;
  height: 60px;
  position: fixed;
  top: 70px;
  background-color: #ffffff;
  box-shadow: 1px 0 40px #FFFFAA inset;
  border-bottom: 3px solid #FFFFAA;
  z-index: 2;
}

#word {
  width: 500px;
}

.side-bar {
  height: 100%;
  width: 40%;
  border-right: solid 5px #FFFFAA;
  background-color: #93FFAB;
  position: fixed;
  top: 70px;
  left: -40%;
  z-index: 1;
  transition: all 1s;
}

.menu {
  width: 70%;
  height: 80px;
  background-color: #ffffff;
  border-radius: 30px;
}

.menu-text {
  line-height: 80px;
}


.side-bar.open {
  left: 0;
}

.page-title {
  height: 200px;
  width: 40%;
  background-color: #93FFAB;
}

.white-space {
  white-space: pre-wrap;
}

.main-image-mask {
  height: 200px;
  background-color: rgba(204, 255, 204, 0.5);
  position: absolute;
  top: 0;
}

* {
  font-family: serif;
}

.underline-green {
  border-bottom: solid 3px #AEFFBD;
  border-radius: 20px;
}