// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-image {
  background-image: image-url("home.jpg");
  background-position: center;
  background-size: cover;
  height: 450px;
  position: relative;
}

.top-image-text {
  position: absolute;
  width: 45%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.about-content {
  height: 150px;
}

.top-bottom-image1 {
  background-image: image-url("cooking.jpg");
  background-position: center;
  background-size: cover;
}

.top-bottom-image2 {
  background-image: image-url("pc_chat.jpg");
  background-position: center;
  background-size: cover;
}

.top-bottom-content {
  box-shadow: 1px 0px 40px #5BFF7F inset;
  border-radius: 15px;
  height: 250px;
  overflow: hidden;
}