// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notification-profile-image {
  border-radius: 20px;
}

.notification-content {
  border-bottom: solid 3px #AEFFBD;
  position: relative;
  width: 80%;
}

.notification-text p {
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notification-time {
  position: absolute;
  bottom: 0;
}