// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-content {
  width: 300px;
  height: 400px;
}

.post-content.active {
  box-shadow: 1px 0 30px #93FFAB;
}

.left-post {
  border-right: solid 5px #AEFFBD;
  border-radius: 25px;
}

.post-image {
  position: relative;
}

.post-show-link {
  position: absolute;
  top: 40%;
  left: 37%;
  background-color: #ffffff;
  opacity: 0;
  box-shadow: 1px 0 30px #93FFAB inset;
  border-radius: 15px;
}

.post-show-link.active {
  opacity: 1;
}

.post-main-image {
  width: 60%;
  height: 200px;
  background-image: image-url("room.png");
  background-position: 50% 80%;
  background-size: cover;
  position: relative;
}

.comments {
  max-height: 300px;
  overflow-y: scroll;
}

.posts-field {
  height: 1300px;
  overflow-y: scroll;
}

.rank-post-content {
  width: 250px;
}

.rank-post-content.active {
  box-shadow: 1px 0 30px #93FFAB;
}

.rank-post-image {
  position: relative;
}

.rank-show-link {
  position: absolute;
  top: 39%;
  left: 34%;
  background-color: #ffffff;
  opacity: 0;
  box-shadow: 1px 0 30px #93FFAB inset;
  border-radius: 15px;
}

.rank-show-link.active {
  opacity: 1;
}

.description-field {
  display: inline-block;
  max-height: 200px;
  overflow-y: scroll;
  word-wrap: break-word;
}

.tag-content {
  max-height: 48px;
  overflow-y: scroll;
}