// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tab-menu .active {
  background-color: #93FFAB;
  border-radius: 15px;
}

.user-main-image {
  width: 60%;
  height: 200px;
  background-image: image-url("write.png");
  background-position: 50% 60%;
  background-size: cover;
  position: relative;
}

#my-favorite-posts-field, #others-favorite-posts-field, .user-posts-field {
  height: 870px;
  overflow-y: scroll;
}

.users-field {
  height: 905px;
  overflow-y: scroll;
}

.introduction-field {
  display: inline-block;
  max-height: 100px;
  overflow-y: scroll;
  word-wrap: break-word;
}

.user-edit-title {
  background-color: #93FFAB;
  border-radius: 20px;
}