<% if obj.errors.any? %>
  <div id = "post_error" class = "text-center text-danger">
    <h4>失敗しました!!</h4>
    <p>
      <% obj.errors.full_messages.each do |message| %>
        <%= message %><br />
      <% end %>
    </p>
  </div>
<% end %>