<header class = "pt-3 pb-1 px-4 w-100 d-flex justify-content-between">
  <h3>Enjoy HOME</h3>
  <div id="hm-icon">
    <a class="menu-trigger" href="#">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
  <% if user_signed_in? %>
    <div class = "search-icon"><i class="fas fa-search fa-2x"></i></div>
  <% else %>
    <p class = "pt-1">ようこそ!!</p>
  <% end %>
</header>
<% if user_signed_in? %>
  <div class = "search pt-3 w-100"><%= render 'searches/search' %></div>
<% end %>